*{   
}

body{
    /*background-image: url(L1.jpg);*/
    background-color: gray;
}
table, th, td {
    border: 3px solid white;
    border-collapse: collapse;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .constainer{
      width: 100%;
    }
}
